.product-container {
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 15px;
    cursor: pointer;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    margin: 30px;
}

.product-container img {
    width: 100px;
}

.product-container .customQtyBox {
    flex: 1;
    padding: 35px;
    font-size: 15px;
    font-weight: bold;
    filter: none;
}

.product-container .cartDeleteButton {
    font-size: 15px;
    padding: 0px 16px;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
}

.product-container .customProductCartTitle {
    padding: 35px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}


@media screen and (max-width: 560px) {
    .product-container img {
        width: 50px;
    }
}

.product-container .customProductCartTitle {
    padding: 35px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 20px;
 
}

@media screen and (max-width: 560px) {
    .product-container .customProductCartTitle {
        padding: 15px;
        font-size: 15px;
    }

    .customQtyBox {
        font-size: 20px;
    }

}

@media screen and (max-width: 890px) {
    .product-container  {
      display: block;
    }

}