
.titleFirstSlideCustom {
        font-size: 50px;
        font-family: 'Ubuntu', sans-serif;
         height: 32vh
}

.hero-title {
        font-family: 'Paytone One', sans-serif;
        color: white;
        font-size: 76px;
}

@media only screen and (max-width: 415px) {
        .hero-title{
        font-size: 30px;
        }
}