.card-container {
  display: flex;
  width: 20%;
  height: 600px;
  align-items: center;
  flex-direction: column;
  background-color: white !important;
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  min-width: 300px;
  max-width: 500px;
  flex-wrap: wrap;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 20px;
  margin-top: 10px;
  word-break: break-word;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.card-price {
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  margin-top: 15px;
}

.card-stock {
  font-family: 'Ubuntu', sans-serif
}

.divButtonAddToCart {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 15px;
}

.card-description {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  margin-top: 15px;
}

@media only screen and (max-width: 835px) {
  .cart-container {
    width: 95vw;
    /* Cambia el ancho de la tarjeta del carrito a 95% de la anchura de la ventana */
  }
}



@media only screen and (min-width: 360px) and (max-width: 767px) {
  .card-container {
    min-width: 300px;
    max-width: 500px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1100px) {
  .card-container {
    min-width: 300px;
    max-width: 500px;
  }
}


@media only screen and (min-width: 1100px) and (max-width: 1900px) {
  .card-container {
    min-width: 480px;
    max-width: 500px;
  }
}
