.navFontCustomize{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    color:white;
    font-size: 20px;
}

.brandCustom{
    font-family: 'Ubuntu', sans-serif;
}

button {
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

button::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        orange, #eed202, yellow, green,
        orange, #eed202, yellow, green
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing{
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.logOutButtonCustom{
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.badgeStyle{
    color:white
}