.image-size{
    width: 500px;
    height: 600px;
}

label{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-title{
    font-family:'Paytone One', sans-serif;
}


@media only screen and (min-width: 320px) and (max-width: 570px) {
    .image-size {
        max-width: 200px;
        max-height: 200px;
    }
  }

